<ion-header>
	<ion-navbar>
		<ion-title><ion-icon ios="ios-clipboard-outline" md="ios-clipboard-outline"></ion-icon>  Visita Medica</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="content padding fondo-2 visita-medica">
		<div class="container-1">
			<div padding>
				<ion-segment [(ngModel)]="visita_tipo">
					<ion-segment-button value="v-mes">
						Visita del mes
					</ion-segment-button>
					<ion-segment-button value="v-abierta">
						Visita abierta
					</ion-segment-button>
				</ion-segment>
			</div>

			<div [ngSwitch]="visita_tipo">
				<ion-list *ngSwitchCase="'v-mes'">
					<ion-item>
						<ion-thumbnail item-left>
							<h4>Fuerza</h4>
							<select [(ngModel)]="fuerza_m"> 
								<option [ngValue]="visitador_mes.f_id" selected>{{visitador_mes.f_nombre}}</option>
							</select>
							<h4>Especialidad</h4>	
							<select [(ngModel)]="especialidad_m" (change)="mostrarProductos(especialidad_m)">
								<option *ngFor="let opcion of visitador_mes.especialidades" [ngValue]="opcion.id_e">{{opcion.nombre}}</option>
							</select>
							<h4>Visitador</h4>	
							<select [(ngModel)]="visitador_m">
								<option [ngValue]="visitador_mes.v_id" selected>{{visitador_mes.v_nombre}}</option>	     
							</select>
							<div class="input">{{visitador_mes.v_telefono}}</div>
						</ion-thumbnail>
					</ion-item>
				</ion-list>

				<ion-list *ngSwitchCase="'v-abierta'">
					<ion-item>
						<ion-thumbnail item-left>
							<select [(ngModel)]="fuerza" (change)="mostrarEspecialidades(fuerza)"> 
								<option *ngFor="let opcion of fuerzas" [ngValue]="opcion.id_f">{{opcion.nombre}}</option>                      
							</select>			
							<select [(ngModel)]="especialidad" (change)="mostrarVisitadores(especialidad)">
								<option *ngFor="let opcion of especialidades" [ngValue]="opcion.id_e">{{opcion.nombre}}</option>
							</select>
							<select [(ngModel)]="visitador" (change)="colocarTelefonoVisitador(visitador)">
								<option *ngFor="let opcion of visitadores" [ngValue]="opcion.id_v">{{opcion.nombre}}</option>
							</select>
							<div class="input">{{visitador_telefono}}</div>
						</ion-thumbnail>
					</ion-item>
				</ion-list>
			</div>

			<table class="preguntas">
				<tr>
					<td>
						<div>
							¿El Visitador comunicó todos los puntos claves del mensaje?
						</div>
						<div class="si-no">
							<input type="radio" [(ngModel)]="uno" class="regular-radio" name="uno" value="1"> <input type="radio" [(ngModel)]="uno" class="regular-radio" name="uno" value="0"> <input type="radio" [(ngModel)]="uno" class="regular-radio tiempo" name="uno" value="2">
						</div>
						<div *ngIf="productos" class="productos-visita">
							<div *ngFor="let producto of productos; let i = index" class="producto_visita">
								<p >PRIORIDAD {{(i+1)}}: {{producto.nombre}} {{producto.descripcion}}</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>
							¿El visitador realizó un correcto cierre en la visita?
						</div>
						<div class="si-no">
							<input type="radio" [(ngModel)]="dos" class="regular-radio" name="dos" value="1"> <input type="radio" [(ngModel)]="dos" class="regular-radio" name="dos" value="0"> <input type="radio" [(ngModel)]="dos" class="regular-radio tiempo" name="dos" value="2">
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>
							¿El visitador generó compromisos con el profesional de la salud?
						</div>
						<div class="si-no">
							<input type="radio" [(ngModel)]="tres" class="regular-radio" name="tres" value="1"> <input type="radio" [(ngModel)]="tres" class="regular-radio" name="tres" value="0"> <input type="radio" [(ngModel)]="tres" class="regular-radio tiempo" name="tres" value="2">
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>
							¿El visitador hace uso de ayudas visuales?
						</div>
						<div class="si-no">
							<input type="radio" [(ngModel)]="cuatro" class="regular-radio" name="cuatro" value="1"> <input type="radio" [(ngModel)]="cuatro" class="regular-radio" name="cuatro" value="0"> <input type="radio" [(ngModel)]="cuatro" class="regular-radio tiempo" name="cuatro" value="2">
						</div>
					</td>
				</tr>
			</table>
			<textarea placeholder="Deja un comentario sobre el visitador" [(ngModel)]="comentario"></textarea>
			<div class="center">
				<button class="btn btn-rounded btn-azul" (click)="guardar()">{{btn_guardar}}</button>
			</div>
		</div>
	</div></ion-content>