page-login {
	.content.login{
		height: 100% !important;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	.fondo-login{
		background-image: url('../assets/fondo-login.png');
		background-repeat: no-repeat !important;
	    background-size:  100% auto;
	    background-position: bottom;
	}
	.logo{
		width: 290px;
		display: block;
		margin: 0 auto;
		margin-bottom: 2em;
	}
	input[type="text"], input[type="password"]{
		width: 220px;
		margin: 0 auto;
		text-align: center;
		background: $primario;
	}
	.btn-login{
		padding: 0.8em 1em;
		width: 220px;
		margin:0 auto;
		color: $secundario;
	}
	.terminos{
		font-size: 0.9em;
		line-height: 1em;
		margin-bottom: 1em;
	}
	.terminos a{
		font-size: 0.7em;
	}
	.terminos input{
		display: inline-block;
		vertical-align: text-top;
	}
	.terminos div{
		margin-top: 0;
	}
	.btn-small.actualizar {
		padding: 0.3em 1em;
		width: 220px !important;
		margin:0 auto;
		margin-top: 2em;
		background: $secundario;
		color: white !important;
		@include border-radius(1em);
 
	}
}
