<ion-content>
	<div class="content login fondo-login">
		<img src="assets/logo.png" alt="Logo" class="logo">
		<input type="text"  [(ngModel)]="usuario" placeholder="Usuario:" required>
		<input type="password" [(ngModel)]="password" placeholder="Contraseña:" required>
		<div class="terminos">
			<input type="checkbox" [(ngModel)]="habeasdata" value="1">
			<span>Acepto términos y condiciones</span>
			<div>
				<a href="http://palacalle.abbottdata.com/Documentos%20de%20Usuario%20Final.pdf">ver terminos y condiciones</a>
			</div>
		</div>
		<button type="submit" class="btn btn-naranja btn-login" (click)="login()">{{btn_login}}</button>
		<!--<br>
		<br>
		<div class="center">
			<a class="btn-small actualizar" (click)="actualizarBaseDatos()"><ion-icon ios="md-sync" md="md-sync"></ion-icon>Actualizar Información</a>
		</div>-->
	</div>
</ion-content>  