<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="ios-home-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Trade" tabIcon="ios-pin-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Acompañamiento" tabIcon="ios-clipboard-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Ranking" tabIcon="ios-ribbon-outline"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Settings" tabIcon="ios-settings-outline"></ion-tab>
</ion-tabs>
