page-calificar-evento {
	.sub-title{
		margin: 0;
		color: $secundario;
	}
	.evento_lugar{
		border: 1px solid #CCCCCC;
	    width: 100%;
	    background: $fondo-select;
	    margin-bottom: 1em !important;
		padding: 0.7em 1em !important;
		font-size: 16px !important;
	}
		
}
