<ion-header>
	<ion-navbar>
		<ion-title><ion-icon class="icon-btn-big small icon-calificar" ios="ios-radio-button-on" md="ios-radio-button-on"></ion-icon>  Calificar Evento</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="content padding fondo-2 calificar-evento">
		<div class="container-1">
			<div>
				<select [(ngModel)]="ciudad" (change)="mostrarEventos(ciudad)">
					<option *ngFor="let opcion of ciudades" [ngValue]="opcion.nombre">{{opcion.nombre}}</option>		   
				</select>
				<select [(ngModel)]="evento" (change)="mostrarEncargado(evento)">
					<option *ngFor="let opcion of eventos" [ngValue]="opcion.id_e">{{opcion.nombre}}</option>		   
				</select>
				<div class="evento_lugar">
					{{evento_lugar}}
				</div>
				<div class="evento_lugar">
					{{evento_fecha}} <span *ngIf="evento_hora != ''"> {{evento_hora}} </span>
				</div>
				<table class="preguntas">
					<tr>
						<td>
							<div>
								¿La asistencia cumplió las expectativas de acuerdo con la convocatoria?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="uno" class="regular-radio" name="uno" value="1"> 
								<input type="radio" [(ngModel)]="uno" class="regular-radio" name="uno" value="0">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								¿Se entregó muestra de producto al final del evento?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="dos" class="regular-radio" name="dos" value="1"> 
								<input type="radio" [(ngModel)]="dos" class="regular-radio" name="dos" value="0">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								¿Asistió el representante encargado del evento?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="tres" class="regular-radio" name="tres" value="1"> 
								<input type="radio" [(ngModel)]="tres" class="regular-radio" name="tres" value="0">
							</div>
						</td>
					</tr>
				</table>
				<p>En cuanto a logística califique los siguientes aspectos en escala del 1 al 5, donde 1 es muy malo y 5 es muy bueno.</p>
				<p *ngIf="mostrarEvento == 1" class="center sub-title">Hotel</p>
				<select [(ngModel)]="cuatro">
					<option value="">Hotel</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<p *ngIf="mostrarEvento == 1" class="center sub-title">Comida</p>
				<select [(ngModel)]="cinco">
					<option value="">Comida</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<p *ngIf="mostrarEvento == 1" class="center sub-title">Ambientación</p>
				<select [(ngModel)]="seis">
					<option value="">Ambientación</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<p *ngIf="mostrarEvento == 1" class="center sub-title">Puntualidad</p>
				<select [(ngModel)]="siete">
					<option value="">Puntualidad</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<p *ngIf="mostrarEvento == 1" class="center sub-title">Parqueadero</p>
				<select [(ngModel)]="ocho">
					<option value="">Parqueadero</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>

			<div class="center" *ngIf="mostrarEvento == 0">
				<textarea placeholder="Comentarios" [(ngModel)]="comentario"></textarea>
				<img *ngIf="chosenPicture" class="imagen-tomada" [src]="chosenPicture" alt="Imágen"/>
				<button class="btn btn-rounded btn-azul" (click)="subirFoto()">
					<ion-icon ios="ios-camera-outline" md="ios-camera-outline"></ion-icon>  
					Subir foto <br>del evento
				</button>
				<button class="btn btn-rounded btn-azul" (click)="guardar()">{{btn_guardar}}</button>
			</div>

			<div class="center" *ngIf="mostrarEvento == 1">
				<p *ngIf="mostrarEvento == 1" class="center sub-title">Comentarios</p>
				<p>{{comentario}}</p>
				<img class="imagen-subida" onerror="this.src='assets/sin-foto.jpg'" [src]="getImagen(foto_subida)" alt="Imágen no disponible"/>
				<button class="btn btn-rounded btn-azul" (click)="regresar()">Regresar a Publicaciones</button>
			</div>
		</div>
	</div>
</ion-content>
