<ion-header>
	<ion-navbar>
		<ion-title><ion-icon class="icon-btn-big small icon-calificar" ios="ios-radio-button-on" md="ios-radio-button-on"></ion-icon>  Califica este punto</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<nav class="sub-nav">
		<table class="sub-menu">
			<tr>
				<td class="col-4 center" valign="middle">{{publicacion.punto_nombre}}</td>
			</tr>
		</table>
	</nav>

	<div class="content padding">
		<div class="container-1">
			<h3 class="center">Novedad</h3>
			<div class="imagen">
				<img [src]="getImagen(publicacion.imagen)" onerror="this.src='assets/sin-foto.jpg'" alt="Imágen no disponible">
			</div>
			<h4 class="center">Comentario</h4>
			<p class="center">{{publicacion.comentario}}</p>

			<div class="center" *ngIf="publicacion.respuesta == null ">
				<textarea placeholder="Responde a la novedad"  [(ngModel)]="respuesta" required></textarea>
				<button type="submit" class="btn btn-rounded btn-azul" (click)="guardar()">{{btn_guardar}}</button>
			</div>

			<div class="center" *ngIf="publicacion.respuesta != null">
				<h4>Respuesta</h4>
				<p>{{publicacion.respuesta}}</p>
				<button type="submit" class="btn btn-rounded btn-azul" (click)="guardar('no')">{{btn_continuar}}</button>
			</div>
		</div>
	</div>
</ion-content>