page-exhibicion-adicional {
	.content .imagen{
		width: 100%;
		background: #eee;
		margin-bottom: 1em;
		text-align: center;
	}
	.content table.preguntas td{
	    padding-bottom: 1em !important;
	}
}
