<ion-header>
	<ion-navbar>
		<ion-title><ion-icon class="icon-btn-big small icon-calificar" ios="ios-radio-button-on" md="ios-radio-button-on"></ion-icon>  Califica este punto</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<nav class="sub-nav">
		<table class="sub-menu">
			<tr>
				<td class="col-4 center" valign="middle">{{punto_info.nombre}}</td>
				<td class="col-4 center" valign="middle">{{punto_info.canal}}</td>
				<td class="col-4 center" valign="middle">{{punto_info.tipo}}</td>
			</tr>
		</table>
	</nav>
	<div class="content padding">
		<div class="container-1">
			<h3 class="center">EXHIBICIÓN ADICIONAL</h3>
			<p class="center">{{exhibicionAdicional.nombre}}</p>
			<p class="center marginTop0">Así debe lucir la exhibición<br>**Imágen de referencia**</p>
			<div class="imagen">
				<img [src]="getImagen(exhibicionAdicional.foto)" onerror="this.src='assets/sin-foto.jpg'" alt="Imágen no disponible">
			</div>

			<div *ngIf="mostrarExhibicionAdicional == 0">
				<table class="preguntas">
					<tr>
						<td>
							<div>
								¿Está presente la exhibición?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="uno_" class="regular-radio" name="uno_" value="1" (change)="masCampos()"> 
								<input type="radio" [(ngModel)]="uno_" class="regular-radio" name="uno_" value="0" (change)="masCampos()"> 
							</div>
						</td>
					</tr>
				</table>
				<table class="preguntas" *ngIf="mostrarCampos == 1">
					<tr>
						<td>
							<div>
								¿Está en buen estado?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="dos_" class="regular-radio" name="dos_" value="1"> 
								<input type="radio" [(ngModel)]="dos_" class="regular-radio" name="dos_" value="0"> 
								<input type="radio" [(ngModel)]="dos_" class="regular-radio" name="dos_" value="2"> 
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								¿Tiene el cargue/producto suficiente?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="tres_" class="regular-radio" name="tres_" value="1"> 
								<input type="radio" [(ngModel)]="tres_" class="regular-radio" name="tres_" value="0"> 
								<input type="radio" [(ngModel)]="tres_" class="regular-radio" name="tres_" value="2"> 
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								¿Se encuentra en una zona de alto tráfico?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="cuatro_" class="regular-radio" name="cuatro_" value="1"> 
								<input type="radio" [(ngModel)]="cuatro_" class="regular-radio" name="cuatro_" value="0"> 
								<input type="radio" [(ngModel)]="cuatro_" class="regular-radio" name="cuatro_" value="2">
							</div>
						</td>
					</tr>
				</table>
				<div class="center">
					<img *ngIf="chosenPicture" class="imagen-tomada" [src]="chosenPicture" alt="Imágen"/>
					<button class="btn btn-rounded btn-azul" (click)="subirFoto()"> 
						<ion-icon ios="ios-camera-outline" md="ios-camera-outline"></ion-icon>  
						Subir foto <br>de la exhbición
					</button>
					<button class="btn btn-rounded btn-azul" (click)="guardar()">{{btn_guardar}}</button>
				</div>
			</div>
				
			<div *ngIf="mostrarExhibicionAdicional == 1">
				<table class="preguntas">
					<tr>
						<td>
							<div>
								¿Está presente la exhibición?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="uno" class="regular-radio" name="uno" value="1" disabled> 
								<input type="radio" [(ngModel)]="uno" class="regular-radio" name="uno" value="0" disabled>
							</div>
						</td>
					</tr>
				</table>
				<table class="preguntas">
					<tr>
						<td>
							<div>
								¿Está en buen estado?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="dos" class="regular-radio" name="dos" value="1" disabled> 
								<input type="radio" [(ngModel)]="dos" class="regular-radio" name="dos" value="0" disabled> 
								<input type="radio" [(ngModel)]="dos" class="regular-radio" name="dos" value="2" disabled>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								¿Tiene el cargue/producto suficiente?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="tres" class="regular-radio" name="tres" value="1" disabled> 
								<input type="radio" [(ngModel)]="tres" class="regular-radio" name="tres" value="0" disabled> 
								<input type="radio" [(ngModel)]="tres" class="regular-radio" name="tres" value="2" disabled>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								¿Se encuentra en una zona de alto tráfico?
							</div>
							<div class="si-no">
								<input type="radio" [(ngModel)]="cuatro" class="regular-radio" name="cuatro" value="1" disabled> 
								<input type="radio" [(ngModel)]="cuatro" class="regular-radio" name="cuatro" value="0" disabled> 
								<input type="radio" [(ngModel)]="cuatro" class="regular-radio" name="cuatro" value="2" disabled>
							</div>
						</td>
					</tr>
				</table>
				<div class="center">
					<img class="imagen-subida" onerror="this.src='assets/sin-foto.jpg'" [src]="getImagen(foto_exhibicion, 'exhibicion')" alt="Imágen no disponible"/>
					<button type="submit" class="btn btn-rounded btn-azul" (click)="guardar('mostrar')">{{btn_continuar}}</button>
				</div>
			</div>
				
		</div>
	</div>
</ion-content>