<ion-header>
	<ion-navbar>
		<ion-title><ion-icon ios="ios-pin-outline" md="ios-pin-outline"></ion-icon>  Mapa</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div padding>

		<div class="center">
			<span>Mis puntos <ion-toggle [(ngModel)]="mispuntos" (ionChange)="mostrarCiudades()"></ion-toggle></span>
			<!-- <span>Mis puntos <input type="radio" value="1" (change)="mostrarCiudades(1)"> &nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>Otros <input type="radio" value="0" (change)="mostrarCiudades(0)"></span> -->
		</div>

		<h3>Ciudad</h3>
		<select [(ngModel)]="ciudad" (change)="mostrarCadenas(ciudad)"> 
			<option *ngFor="let opcion of ciudades" [ngValue]="opcion.id_c">{{opcion.nombre}}</option>
		</select>

		<h3>Cadena</h3>
		<select [(ngModel)]="cadena" (change)="mostrarPuntos(ciudad,cadena)"> 
			<option *ngFor="let opcion of cadenas" [ngValue]="opcion.id_c">{{opcion.nombre}}</option>
		</select>

		<h3>Puntos</h3>
		<select [(ngModel)]="punto" class="select-punto"> 
			<option *ngFor="let opcion of puntos" [ngValue]="opcion"><span *ngIf="opcion.estado == 2">[Ev.] </span> {{opcion.nombre}} <span *ngIf="opcion.direccion">{{ "- (" + opcion.direccion + ")"}}</span></option>
		</select>
		<div class="center">
			<button class="btn btn-rounded btn-azul" (click)="irMenu(punto)">Seleccionar</button>
		</div>


		<hr>
		<div *ngIf="mispuntos === true">
			<br>
			<h3 class="h3 center">Mis puntos no visitados</h3>
			<div class="center" *ngIf="mispuntosnovisitadosver === false">
				<button class="btn btn-rounded btn-azul" (click)="mostrarpuntosnovisitados()">Mostrar</button>
			</div>
			<select [(ngModel)]="punto2" class="select-punto" *ngIf="mispuntosnovisitadosver === true"> 
				<option *ngFor="let opcion of puntos_no_visitados" [ngValue]="opcion"><span *ngIf="opcion.estado == 2">[Ev.] </span> {{opcion.nombre}} <span *ngIf="opcion.direccion">{{ "- (" + opcion.direccion + ")"}}</span></option>
			</select>
			<div class="center" *ngIf="mispuntosnovisitadosver === true">
				<button class="btn btn-rounded btn-azul" (click)="irMenu(punto2)">Seleccionar</button>
			</div>
		</div>

		

		<hr>
		<div class="buscador">
			<br>
			<h3 class="center">Buscar punto</h3>
			<!-- <input type="text" [(ngModel)]="punto_buscar"> -->
			<ion-searchbar [(ngModel)]="punto_buscar" placeholder="Buscar"></ion-searchbar>
			<div class="center">
				<button class="btn btn-rounded btn-azul" (click)="buscarPunto(punto_buscar)">Buscar</button>
			</div>
			<hr>
			<div *ngIf="punto_buscar_select == 1">
				<h3 class="center">Resultados</h3>
				<select [(ngModel)]="punto_buscar_ver" class="select-punto"> 
					<option *ngFor="let opcion of puntos_buscar_ver" [ngValue]="opcion"><span *ngIf="opcion.estado == 2">[Ev.] </span> {{opcion.nombre}} <span *ngIf="opcion.direccion">{{ "- (" + opcion.direccion + ")"}}</span></option>
				</select>
				<div class="center">
					<button class="btn btn-rounded btn-azul" (click)="irMenu(punto_buscar_ver, 1)">Seleccionar</button>
				</div>
			</div>
				
		</div>
	</div>
</ion-content>