page-mapa {
	#map {
		width: 100%;
        height: 100%;
        // border: 3px solid green;
	}
	.mapa-punto{
		width: 210px;
		border-radius: 10px;
		padding: 0.2em;
	}
	.mapa-punto img{
		width: 70px;
		height: 70px;
		float: left;
		padding-right: 0.5em;
	}
	.mapa-punto h6{
		margin: 0;
		font-size: 1em;
		text-transform: capitalize;
	}
	.mapa-punto p{
		margin: 0;
		font-size: 0.9em;
	}
	.btn-seleccionar{
		position: relative;
		border: none;
		padding: 0.4em 1em;
		margin-top:0.2em !important;
		font-size: 1em !important;
		margin-bottom: 5px !important;
	}
	.custom-spinner-container{
		background: red !important;
	}
	.select-punto{
		height: 70px !important;
		padding-right: 3em !important;
	}
	ion-toggle{
		display: inline-block !important;
		vertical-align: middle !important;
	}
	.searchbar-input {
		border: 1px solid #CCCCCC !important;
		background: $fondo-select !important;
		box-shadow: none !important;
		margin-bottom: 1em !important;
		color: black !important;
	}
}	