<ion-header>
	<ion-navbar  hideBackButton="true">
		<ion-buttons start *ngIf="esSupervisor == true">
			<div class="inline" (tap)="actualizarPublicaciones()">
				<ion-icon  class="btn_actualizar" ios="ios-refresh-circle-outline" md="ios-refresh-circle-outline"></ion-icon>
			</div>
		</ion-buttons>

		<ion-buttons end *ngIf="esSupervisor == true">
			<div class="inline" (tap)="cerrarSesion()">
				<p class="label label-sm">Cerrar Sesión</p>
			</div>
		</ion-buttons>

		<ion-buttons end *ngIf="esSupervisor == false">
			<div class="inline" (tap)="actualizarPublicaciones()">
				<ion-icon  class="btn_actualizar" ios="ios-refresh-circle-outline" md="ios-refresh-circle-outline"></ion-icon>
			</div>
		</ion-buttons>
		<ion-title>Perfil</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<header class="header">
		<div class="row row-top">
			<div class="col-left center">
				<div class="imagen">
					<img [src]="getImagen(usuario.foto, 'usuario')" onerror="this.src='assets/sin-foto.jpg'"  alt="Imágen no disponible">
					<div class="icono" (tap)="editarPerfil()"><ion-icon ios="md-create" md="md-create"></ion-icon></div>
				</div>
			</div>
			<div class="col-right center">
				<h3 class="margin0 azul">{{usuario.nombre}}</h3>
				<button class="btn-rounded btn-azul" (tap)="editarPerfil()">Editar perfil</button>
			</div>
		</div>
		<div class="row row-bottom">
			<div class="col-left right">
				<div class="numero azul">{{casos.activos}}</div>
				<div class="texto" (tap)="casosActivos()">Casos activos</div>
			</div>
			<div class="col-right">
				<div class="numero azul">{{casos.cerrados}}</div>
				<div class="texto" (tap)="casosCerrados()">Casos cerrados</div>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="container-1">
			<div padding *ngIf="internet === false">
				<p class="center">No tienes conexión a internet, por lo que no se mostrará información.</p>
			</div>
			
			<div class="publicacion" *ngFor="let publicacion of publicaciones">

				<div class="head" (tap)="irPublicacion(publicacion)">
					<div class="imagen">
						<img [src]="getImagen(publicacion.user_foto, 'usuario')" onerror="this.src='assets/sin-foto.jpg'" alt="Imágen disponible">
					</div>
					<div class="texto" *ngIf="publicacion.tipo == 'p'">
						<span class="nombre azul">{{publicacion.user_nombre}}</span>
						<span class="lugar">Visitó {{publicacion.punto_nombre}}</span>
						<span class="tiempo azul">{{publicacion.fecha}}</span>
					</div>
					<div class="texto" *ngIf="publicacion.tipo == 'n'">
						<span class="nombre azul">{{publicacion.user_nombre}}</span>
						<span class="lugar">Visitó {{publicacion.punto_nombre}} (Novedad)</span>
						<span class="tiempo azul">{{publicacion.fecha}}</span>
					</div>
					<div class="texto" *ngIf="publicacion.tipo == 'e'">
						<span class="nombre azul">{{publicacion.user_nombre}}</span>
						<span class="lugar">Califico el evento {{publicacion.evento_nombre}} de la ciudad de {{publicacion.evento_ciudad}}</span>
						<span class="tiempo azul">{{publicacion.fecha}}</span>
					</div>
				</div>

				<div class="body">
					<div class="texto">{{publicacion.comentario}}</div>
					<div class="imagen">
						<img [src]="getImagen(publicacion.imagen, 'publicacion')" onerror="this.src='assets/sin-foto.jpg'" alt="Imágen no disponible">
					</div>
				</div>

				<div *ngIf="esSupervisor == true" class="center">
					<button class="btn btn-rounded btn-azul ver-detalles" (click)="irPublicacion(publicacion)">Ver detalles</button>
				</div>

				<table class="foot" *ngIf="esSupervisor == false">
					<tr>
						<td>
							<div (tap)="like(publicacion)">
								 <span class="likes" *ngIf="publicacion.likes > 0">{{publicacion.likes}}</span>  
								 <ion-icon class="icon-estrella" ios="ios-star" md="ios-star"></ion-icon>Valorar gestión
							</div>
						</td>
						<td>
							<div (tap)="verComentarios(publicacion)">
								<span class="comentarios_totales" *ngIf="publicacion.comentarios_total > 0">{{publicacion.comentarios_total}}</span>  
								<ion-icon class="icon-comentar" ios="ios-chatbubbles" md="ios-chatbubbles"></ion-icon> Comentar
							</div>

						</td>
						<td>
							<div (tap)="enviarPublicacion(publicacion)">
								<ion-icon class="icon-mail" ios="ios-mail-outline" md="ios-mail-outline"></ion-icon> Enviármelo al email
							</div>
						</td>
					</tr>
				</table>

				<div class="comentarios" *ngIf="publicacion.vercomentarios == 1">
					<table>
						<tr class="comentario" *ngFor="let comentario of publicacion.comentarios">
							<td><img [src]="getImagen(comentario.usuario_foto, 'usuario')" onerror="this.src='assets/sin-foto.jpg'" alt="No disponible"></td>
							<td>
								<div class="nombre">{{comentario.usuario_nombre}} <span class="fecha">{{comentario.fecha}}</span></div>
								<div class="texto">{{comentario.comentario}}</div>
							</td>
						</tr>
						<tr *ngIf="publicacion.comentarios.length == 0">
							<td colspan="2">
								<div class="center">Sin comentarios</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="textarea-comentar">
									<textarea [(ngModel)]="comentario" placeholder="Deja tu comentario"></textarea>
									<button class="btn btn-rounded btn-azul" (click)="comentar(usuario.id_u, usuario.nombre, usuario.foto, publicacion)">Comentar</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div> <!-- End publicacion -->



			
		</div>
	</div>
</ion-content>