page-publicaciones {
	// .searchbar-has-focus{
	// 	width: 120px !important;
	// }
	// ion-searchbar{
	// 	width: 50px !important;
	// }
	// .searchbar .searchbar-input {
	// 	padding: 0 1em  0 15px !important;
	// 	    margin-bottom: 0 !important;
	// }
	// .searchbar-has-focus .searchbar-input{
	// 	padding: 0 1em  0 25px !important;
	// }
	// .searchbar-md .searchbar-search-icon {
	// 	z-index: 9;
	// 	top: 5px;
 //    	left: 2px;
	// }
	// .searchbar-md {
	// 	width: 120px !important;
	// }
	// .searchbar-md .searchbar-input{
	// 	padding: 0 1em  0 25px !important;
	// 	@include box-shadow(none);
	// }
	// .searchbar-md.searchbar-has-focus .searchbar-input{
	// 	padding: 0 1em  0 25px !important;
	// }
	
	.btn_actualizar {
		color: $secundario;
		font-size: 2em;
	}
	.btn_upload{
		color: $fondo-btn-naranja;
		font-size: 2em;
	}
	.box-upload{
		margin-right: 0.5em;
	}
	.label-sm{
		margin: 0;
	}
	.ver-detalles{
		margin-top: 1em;
	}
	

	/*****************************************/

	header .row-top, header .row-bottom{
		position: relative;
		overflow: hidden;
	}
	header .row-top{
		margin-bottom: .5em;
	}
	header .row-top .col-left{
		float: left;
		width: 40%;
	}
	header .row-top .col-right{ 
		float: left;
		width: 60%;
	}
	header .row-top .col-right h3{ 
		margin: 0 0 .5em 0;
	}
	header .row-top .imagen{ 
		position: relative;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: 4px solid $secundario;
		margin: 0 auto;
	}
	header .row-top .imagen img{
		border-radius: 50% !important;
		width: 100%;
		height: 100%;
	}
	header .row-top .imagen .icono{ 
		position: absolute;
		bottom: -10px;
		right: -15px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: $fondo-btn-naranja;
		font-size: 20px;
	}
	header .row-top .imagen .icono ion-icon {
	    position: absolute;
	    top: -1px;
	    right: -1px;
	    color: $secundario;
	}
	header .row-bottom{
		width: 100%;
		max-width: 270px;
		margin: 0 auto;
	}
	header .row-bottom .col-left, header .row-bottom .col-right{ 
		float: left;
		width: 50%;
		text-align: center;
	}
	header .row-bottom .col-left {
		border-right: 1px solid #aaa;
	}
	header .row-bottom .numero{
		font-weight: bold;
		margin-bottom: -7px;
	}
	header .row-bottom .texto{
		color: #666;
		font-size: .9em;
	}
	.content .publicacion{
		width: 97%;
		margin: 0 auto;
		padding: 1em 0;
		border-bottom:1px solid #ccc;
		position: relative;
		overflow: hidden;
	}
	.content .publicacion .head, .content .publicacion .body, .content .publicacion .foot{
		position: relative;
		overflow: hidden;
		line-height: 1em;
		box-sizing: border-box;
	}
	.content .publicacion .head .texto{
		float: left;
		width: 85%;
		padding: 0 0.2em;
		line-height: 1.2em;
		box-sizing: border-box;
	}
	.content .publicacion .head .texto .nombre{
		font-weight: bold;
	}
	.content .publicacion .head .texto .lugar{
		text-transform: capitalize !important;
	}
	.content .publicacion .head .texto .tiempo{
		font-size: 0.7em;
		white-space: nowrap;
	}
	.content .publicacion .head .imagen{
		float: left;
		width: 15%;
	}	
	.content .publicacion .head .imagen img{
		width: 40px !important;
		height: 40px !important;
		border-radius: 50%;
		border: 2px solid $gris;
		margin: 0 auto;
	}
	.content .publicacion .body .texto{
		font-size: 1em;
		padding: 0.5em 1em;
		line-height: 1.1em;
	}
	.content .publicacion .body .imagen{
		width: 100%;
		margin: 0 auto;
	}
	.content .publicacion .body .imagen img{
		width: 100%;
	}
	.content .publicacion .foot{
		font-size: 0.85em;
		color:#777;
		margin:0 auto;
		text-align: center;
	}
	.content .publicacion .foot td{
		padding-top: .5em;
	}
	.content .publicacion .foot ion-icon{
		vertical-align: middle;
	}  
	.content .publicacion .likes{
		color: $amarillo;
		vertical-align: bottom !important;
	}
	.content .publicacion .comentarios_totales{
		color: $secundario;
		vertical-align: bottom !important;
	}
	.content .publicacion .foot .icon-estrella{
		color: $amarillo !important;
	}
	.content .publicacion .foot .icon-comentar{
		color: $secundario !important;
	}
	.content .publicacion .foot .icon-mail{
		color: $secundario !important;
	}

	/***************************************** Comentarios*/
	.comentarios {
		padding: 0.5em 1em;
		border-top: 1px dashed $gris !important;
	}
	.comentarios table{
		width: 100%;
	}
	.comentarios table td{
		padding: 0.3em .3em;
	}
	.comentarios table td:first-child{
		vertical-align: top;
	}
	.comentarios .nombre{
		color: $secundario;
		font-weight: bold;
	}
	.comentarios .fecha{
		font-size: 0.6em;
	}
	.comentarios img{
		border-radius: 50%;
		width: 35px;
		height: 35px;
		border: 2px solid $gris;
	}
	.textarea-comentar{
		text-align: center;
		padding-top: 1em !important;
		border-top: 1px dashed $gris !important;
	}
	.textarea-comentar textarea{
		margin-top: 0.5em !important;
		margin-bottom: 0 !important;
	}
	ion-buttons[start] {
	  order: 2 !important;
	}

}
