<ion-header>
	<ion-navbar>
		<ion-title><ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>  Settings</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="content padding fondo-2">
		<ion-list>
			<ion-item>
			    <ion-label>Conectarse a internet</ion-label>
			    <ion-toggle [(ngModel)]="internet" (ionChange)="cambioInternet()"></ion-toggle>
			</ion-item>
			<ion-item>
				<ion-label class="label-link"><a href="http://palacalle.abbottdata.com/glosario.pdf" target="new">Descargar glosario</a></ion-label>				
			</ion-item>
			<ion-item>
				<ion-label class="label-link"(click)="uploadInfo()">Subir información</ion-label>
			</ion-item>
			<ion-item>
				<ion-label class="label-link"(click)="actualizarBaseDatos()">Actualizar la información del app</ion-label>
			</ion-item>
			<ion-item>
				<ion-label class="label-link"(click)="cerrarSesion()">Cerrar Sesión</ion-label>
			</ion-item>
		</ion-list>
	</div>
</ion-content>