// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #E4F3FA,
  secondary:  #022E55,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$primario : #E4F3FA;
$secundario : #022E55;
$fondo-textarea : #DEF2E6;
$fondo-select : #E6E6E6;

$fondo-btn-big: #94CDE0;
$fondo-btn-verde: #00AF40;
$fondo-btn-naranja: #F5B231;
$fondo-btn-rojo: #EB0029;
$fondo-btn-violeta: #B20060;
$fondo-btn-morado: #4C0D66;
$fondo-btn-amarillo: #FFD101;

$verde : #16AE4A;
$rojo : #EB0029;
$amarillo: #F4B244;
$gris: #999999;

.toggle-md.toggle-checked .toggle-icon {
    background-color: $verde !important;
}
.toggle-md.toggle-checked .toggle-inner{
	background-color: white !important;
}
.toggle-ios.toggle-checked .toggle-icon{
	background-color: $verde !important;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";

// Mixins
// --------------------------------------------------

@mixin border-radius($radius) {
  -webkit-border-radius: $radius !important;
     -moz-border-radius: $radius !important;
      -ms-border-radius: $radius !important;
          border-radius: $radius !important;
}
@mixin box-sizing() {
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
      -ms-box-sizing: border-box !important;
          box-sizing: border-box !important;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow !important;
     -moz-box-shadow: $shadow !important;
      -ms-box-shadow: $shadow !important;
          box-shadow: $shadow !important;
}

// Generales
// --------------------------------------------------

@font-face {
  font-family: "BrandonGrotes-Light";
  src: 	url("#{$font-path}/BrandonGrotesque-Light.eot?#iefix") format('embedded-opentype'),  
  		url("#{$font-path}/BrandonGrotesque-Light.otf")  format('opentype'),
  		url("#{$font-path}/BrandonGrotesque-Light.woff") format('woff'), 
  		url("#{$font-path}/BrandonGrotesque-Light.ttf")  format('truetype'), 
  		url("#{$font-path}/BrandonGrotesque-Light.svg#BrandonGrotesque-Light") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotes-Medium";
  src: 	url("#{$font-path}/BrandonGrotesque-Medium.eot?#iefix") format('embedded-opentype'),  
  		url("#{$font-path}/BrandonGrotesque-Medium.otf")  format('opentype'),
	    url("#{$font-path}/BrandonGrotesque-Medium.woff") format('woff'), 
	    url("#{$font-path}/BrandonGrotesque-Medium.ttf")  format('truetype'), 
	    url("#{$font-path}/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium") format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	font-size: 16.5px;
	font-family: 'BrandonGrotes-Light' !important;
}
ion-app.md {
	font-family: 'BrandonGrotes-Light' !important;
	font-size: 16px !important;
}
ion-app.ios {
	font-family: 'BrandonGrotes-Light' !important;
	font-size: 16px !important;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'BrandonGrotes-Medium' !important;
	font-weight: normal;
	color: $secundario;
}
.h3{
	font-size: 2.2rem !important;
	margin-top: 1.6rem !important;
	margin-bottom: 1rem !important;
	font-weight: 500 !important;
	line-height: 1.2 !important;
}
.header{
	background: $primario;
	padding: 0.5em 0;
}
.row{
	position: relative;
	clear: both;
	@include box-sizing();
	overflow: hidden;
}
.clear {
	clear: both;
}
.fondo-2{
	background-image: url('../assets/fondo-2.png') !important;
	background-repeat: no-repeat !important;
    background-size:  100% auto !important;
    background-position: bottom !important;
    height: 100%;
}
.col-left, .col-right {
	@include box-sizing();
}
button{
	font-size: 16px !important;
	font-family: 'BrandonGrotes-Light' !important;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="submit"], textarea, select{
	font-family: 'BrandonGrotes-Light' !important;
	position: relative;
	@include box-sizing();
	margin-bottom: 1em !important;
	padding: 0.7em 1em;
	border: none;
	font-size: 16px !important;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="submit"]{
	// line-height: 45px !important;
	height: 45px !important;
}
input[type="text"]{
	padding: 0.2em;
}
textarea{
	background: $fondo-textarea;
}
input[type="checkbox"], input[type="radio"]{
	display: inline-block;
}
select{
	border: 1px solid #CCCCCC;
    width: 100%;
    background: $fondo-select;
    overflow: hidden !important;
    height: 44px !important;
    @include box-sizing();
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, $secundario, $secundario);
	background-position:
	    calc(102% - 20px) calc(50% + 2px),
	    calc(102% - 15px) calc(50% + 2px),
	    100% 0;
	background-size:
	    5px 5px,
	    5px 5px,
	    2.0em 100%;
	background-repeat: no-repeat;
}
select:focus{
	background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
	background-position:
	    calc(102% - 15px) calc(50% + 2px),
	    calc(102% - 20px) calc(50% + 2px),
	    100% 0;
	background-size:
	    5px 5px,
	    5px 5px,
	    2em 100%;
	background-repeat: no-repeat;
	border-color: grey;
	outline: 0;
}
option{
	color: black;
}
a{
	text-decoration: none;
	color: #5B58F6 !important;
}
.btn, button{
	font-family: 'BrandonGrotes-Light';
	position: relative;
	border: none;
	padding: 0.6em 2em;
	margin-bottom: 1em !important;
	@include border-radius(3px);
}
.btn{
	font-size: 1em;
}
.btn-big{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 135px;
	height: 135px;
	font-size: 0.8em;
	@include border-radius(1.2em);
	@include box-shadow(0 2px 0px #888);
	background: $fondo-btn-big;
	color: white;
	padding: 0 !important;
}
.btn-big:before{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	@include border-radius(15%);
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 21%, rgba(255,255,255,0.14) 23%, rgba(255,255,255,0.14) 25%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(21%, rgba(255,255,255,0)), color-stop(23%, rgba(255,255,255,0.14)), color-stop(25%, rgba(255,255,255,0.14)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 21%, rgba(255,255,255,0.14) 23%, rgba(255,255,255,0.14) 25%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(45deg, rgba(255,255,255,0) 21%, rgba(255,255,255,0.14) 23%, rgba(255,255,255,0.14) 25%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 21%, rgba(255,255,255,0.14) 23%, rgba(255,255,255,0.14) 25%, rgba(255,255,255,0) 100%);
	background: linear-gradient(45deg, rgba(255,255,255,0) 21%, rgba(255,255,255,0.14) 23%, rgba(255,255,255,0.14) 25%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
.btn-rounded{
	@include border-radius(2em);
}
.btn-rounded:before{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	@include border-radius(20%);
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.14) 24%, rgba(255,255,255,0.14) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(23%, rgba(255,255,255,0)), color-stop(24%, rgba(255,255,255,0.14)), color-stop(100%, rgba(255,255,255,0.14)));
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.14) 24%, rgba(255,255,255,0.14) 100%);
	background: -o-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.14) 24%, rgba(255,255,255,0.14) 100%);
	background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.14) 24%, rgba(255,255,255,0.14) 100%);
	background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.14) 24%, rgba(255,255,255,0.14) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
.btn-verde{
	background: $fondo-btn-verde;
	color: white;
}
.btn-naranja{
	background: $fondo-btn-naranja;
	color: white;
}
.btn-rojo{
	background: $fondo-btn-rojo;
	color: white;
}
.btn-azul{
	background: $secundario;
	color: white;
}
.btn-violeta{
	background: $fondo-btn-violeta;
	color: white;
}
.btn-morado{
	background: $fondo-btn-morado;
	color: white;
}
.btn-amarillo{
	background: $fondo-btn-amarillo;
	color: #663202;
}
.btn:not(.btn-big) ion-icon{
	font-size: 2em;
	vertical-align: sub;
	margin: -5px 4px -5px 0px;
}
.azul{
	color: $secundario;
}
.color-verde{
	color: $verde;
}
.color-rojo-2{
	color: #AF0000;
}
.color-rojo{
	color: $rojo;
}
.rojo{
	color: $rojo;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.justify {
	text-align: justify;
}
.inline{
	display: inline-block !important;
}
.hidden {
	display: none !important;
}
.marginTop0{
	margin-top: 0px !important;
}
.marginTop1{
	margin-top: 1em !important;
}
.width100 {
	width: 100%;
}
.col-4{
	float: left;
	width: 33.3333333%;
}
.scroll-content{
	// height: 91.5%;
}
.content, header{
	// background: white;
	// overflow: hidden;
	position: relative;
}
.content.padding{
	padding: 1em;
}
.content h3:first-child{
	margin-top: 0;
	margin-bottom: 0.5em;
	font-size: 1.2em;
}
.content h3:first-child + p {
	margin: 0 0.5em 0.5em 0.5em;
	color: $secundario;
}
.content table{
	width: 100%;
}
.content table.preguntas {
	padding: 0 .5em;
	width: 100%;
	display: block;
}
.content table.preguntas .pregunta{
	margin: 0 .8em;
	font-size: 1.1em !important;
	line-height: 1.3em !important;
}
.content table.preguntas .si-no{
	margin: 0 .8em;
}
.content table.preguntas td{
    padding-bottom: 1em !important;
    vertical-align: middle;
}
.content table.preguntas td div:first-child{
    margin-bottom: 0.4em;
    font-size: 1.1em !important;
	line-height: 1.3em !important;
}
.content .preguntas td input{
    margin: 0 !important;
    margin-right: 1em !important;
}
.content .preguntas .regular-radio {
	padding: 15px;
	display: inline-block;
	position: relative;
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05) !important;
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05) !important;
      -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05) !important;
          box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05) !important;
	
}
.content .preguntas .regular-radio:checked:after {
	content: '' !important;
	width: 18px;
	height: 18px !important;
	position: absolute !important;
	top: 6px !important;
	left: 6px !important;
	font-size: 32px !important;
	background: rgba(148, 156, 162, 0.7) !important;
	@include border-radius(50px);
}
.si-no input:disabled:not(:checked) {
	display: none !important;
}
.si-no input:disabled:after{
	display: none !important;
}
.productos .producto{
	width: 100%;
}
.productos .producto td{
    padding: 0 0.2em 1em 0.2em !important;
}
.productos .producto .imagen{
	width: 100%;
	background: #F2F2F2;
}
.productos .producto select{
	padding: 0.5em 1em !important;
	margin-bottom: 0em !important;
	background: $fondo-select;
	position: relative;
	display: block;
	@include box-sizing();
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, $secundario, $secundario);
	background-position:
	    calc(103% - 20px) calc(1em + 2px),
	    calc(103% - 15px) calc(1em + 2px),
	    100% 0;
	background-size:
	    5px 5px,
	    5px 5px,
	    2.0em 2.5em;
	background-repeat: no-repeat;
}
.productos .producto select:focus{
	background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
	background-position:
	    calc(103% - 15px) 1em,
	    calc(103% - 20px) 1em,
	    100% 0;
	background-size:
	    5px 5px,
	    5px 5px,
	    2em 2.5em;
	background-repeat: no-repeat;
	border-color: grey;
	outline: 0;
}
// .productos .producto select{
// 	margin-bottom: 0em !important;
// 	background-position:
// 	    calc(103% - 20px) calc(1em + 2px),
// 	    calc(103% - 15px) calc(1em + 2px),
// 	    100% 0;
// }
// .productos .producto select:focus{
// 	background-position:
// 	    calc(103% - 15px) 1em,
// 	    calc(103% - 20px) 1em,
// 	    100% 0;
// }
.sub-nav{
	background: #F2F2F2;
}
.sub-nav .sub-menu{
	border-collapse: collapse;
}
.sub-nav .sub-menu .col-4{
	border:1px solid #A5AAB0;
	@include box-sizing();
	height: 100%;
    float: none;
    line-height: 1.1em;
    font-size: 0.8em !important;
    padding: 0.5em;
    color: $secundario;
    word-break: break-word;
}
hr.dotted{
	border-style: dashed;
}
.si-no input{
	position: relative;
}
.si-no input:before{
	font-size: 1.1em;
	position: absolute;
	top: 7px;
    left: 8px;
	color: black !important;
}
.si-no input:first-child:before{
	content: "Si";
}
.si-no input:nth-child(2):before{
	content: "No";
	left: 4px;
}
.si-no input:nth-child(3) {
	width: 95px !important;
}
.si-no input:nth-child(3):before{
	content: "No Aplica";
}
.si-no input.tiempo:nth-child(3):before{
	content: "Sin Tiempo";
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.button-inner{
	color: $secundario;
}
/* 
* ******************************************  Mostrar Info
*/

.mostrarInfo p{
	font-size: 1.1em;
}
.content h3 + p{
	font-size: 1.1em;
	line-height: 1em;
}
.content p{
	font-size: 1.1em;
	line-height: 1em;
}
/* 
* ******************************************  Loading
*/
ion-backdrop{
	transition:opacity 10s linear !important;
	opacity: 0.9 !important;
}
// .loading-spinner{
// 	transition:opacity 10s linear !important;
// }
.loading-wrapper{
	background: transparent !important;
	box-shadow: none !important;
}
.spinner{
	width: 50px !important;
    height: 50px !important;
}


/* 
* ******************************************  Loading
*/

.imagen-tomada{
	width: 80% !important;
	max-width: 300px;
	padding: 0.2em;
	border: 2px solid $secundario;
	display: block;
	margin: 0 auto; 
	margin-bottom: 1em;
}
.imagen-subida{
	width: 100% !important;
	border: 2px solid $secundario;
	display: block;
	margin: 0 auto; 
	margin-bottom: 1em;
}

/* 
* ******************************************  Header
*/

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
	display: none !important;
}
.header {
	padding: 0;
}
.toolbar-background{
	background: none !important;
}
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
	border: 0 !important;
}
.toolbar-md {
	min-height: 43px !important;
}
.toolbar-ios{
	padding: 0 4px;
}
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child{
	padding-top: 15px !important;
}
.toolbar {
	padding: 0 4px !important;
}
.toolbar-title{
	font-size: 1.1em !important;
    font-weight: normal !important;
    color: $secundario !important;
    text-overflow: inherit !important;
}
.toolbar-content-md{
	text-align: center;
}
.title .toolbar-title ion-icon {
	margin-right: 0.2em;
}
.bar-button-default-ios{
	color: $secundario !important;
	margin-top: 0px !important;
	margin-bottom: -5px !important;
}
.bar-button-default-md{
	color: $secundario !important;
}
.bar-button-md {
	z-index: 999;
	position: absolute !important;
	top: 5px;
	left: 0;
}
.back-button-md{
	margin: 0 !important;
}
.back-button-text{
	display: none !important;
}

/* 
* ******************************************  Mapa
*/

.searchbar-ios{
	border-top: none !important;
	border-bottom: none !important;
	background: none !important;
}

.searchbar-ios .searchbar-input{
	height: 44px !important;
}
.searchbar-ios .searchbar-search-icon{
	top: 15px !important;
}

/* 
* ******************************************  Footer
*/

.tabbar {
	// bottom: 5px !important;
    // left: 2% !important;
    // width: 96% !important;
    background: $secundario !important;
}
.tab-button-text {
	font-size: 10px !important;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-text{
	webkit-transform: scale3d(1, 1, 1)  !important;
    transform: scale3d(1, 1, 1)  !important;
}
.tab-button-icon{
	color: white !important
}
.tab-button:nth-child(2n) {
	background: #06365A !important;
}
.tab-button-text{
	color: white !important;
}


/* 
* ******************************************  Visita Medica
*/
.visita-medica select{
	padding: 0.5em 1em;
}
.producto_visita p{
	line-height: 1em;
	text-align: justify;
}
.producto_visita:first-child{
	padding-top: 0.5em;
	margin-top: 0.5em;
	border-top: 1px dashed $gris;
}
.producto_visita:last-child{
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 1px dashed $gris;
}

/* 
* ******************************************  Calificar Evento
*/
.calificar-evento select, .calificar-evento input[type="text"]{
	width: 100%;
	padding: 0.5em 1em;
	border: 1px solid #CCCCCC;
}
.calificar-evento  input.disabled{
	background: #E6E6E6;
	opacity: 1 !important;
}

/* 
* ******************************************  Calificar Evento
*/
ion-thumbnail{
	width: 100%;
}
.segment-ios-primary .segment-button {
	color: black !important;
}

/* 
* ******************************************  Productos
*/

.box-productos {
	width: 285px !important;
	margin: 0 auto;
}

.box-productos .producto {
	float:left; 
	width: 130px; 
	margin: 5px;
}
.box-productos .producto .imagen {
	height: 130px !important;
}
.box-productos .producto .imagen img{
	width: auto !important;
	height: 100% !important;
	max-height: 130px!important;
	max-width: 130px !important;
	margin: 0 auto !important;
}
.infaltable{
	position: relative;
}
.infaltable:before{
	content: "✪";
	position: absolute;
	top: -0.3em;
	right: 0px;
	font-size: 1.5em;
	color: #FFD364;
}
.box-productos .producto .nombre{
	text-align: center;
	font-size: 0.8em;
	margin-top: 0 !important;
	padding: 0.5em 0.2em;
	line-height: 1.2em !important;
	border: 1px solid $primario;
	min-height: 45px !important;
}
.box-productos .producto select{
	background-position:
	    calc(105% - 20px) calc(50% + 2px),
	    calc(105% - 15px) calc(50% + 2px),
	    100% 0;
}

/* 
* ******************************************  Precio
*/

.content .precio {
    padding: 0 0.2em 1em 0.2em !important;
}
.content .precio .imagen{
	width: 100%;
	background: #F2F2F2;
}
.precio .producto .nombre{
	text-align: center;
	font-size: 0.8em;
	line-height: 1.2em !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 0.5em 0.2em;
	border:1px solid $primario;
	border-bottom: 0 !important ;
}
.fuera-rango {
	padding-top: 0.2em;
	text-align: center;
	border:1px solid $primario;
}
.fuera-rango label{
	color: $secundario;
	font-size: 0.8em;
	margin-right: 0.2em;
}
.fuera-rango label, .fuera-rango input{
	width: auto !important;
	vertical-align: top;
}
.content .precio .texto .precio{
	font-size: 0.8em;
	margin-top: 0 !important;
	padding-bottom: 0 !important;
	color:#555;
	text-align: center;
	border:1px solid $primario;
	border-bottom: 0 !important ;
}
.content .producto .texto.borde{
	border:1px solid $primario;
}
.content .producto .texto.borde p{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	color:#555;
	font-size: 1em !important;
	line-height: 1.2em !important;
}
.content .precio .texto input[type="number"]{
	height: 37px;
	border:1px solid #CCCCCC;
	text-align: center;
}
.content .precio .texto input, .content .precio .texto button{
	width: 100%;
	margin-bottom: 0 !important;
	white-space: nowrap;
}
.btn-precio{
	background: $fondo-select;
	color: #666;
	border:1px solid #aaa;
	width: 100%;
	padding: 0 1em !important;
  	line-height: 45px !important;
}

/* 
* ******************************************  Ranking
*/
.segment-activated {
    color: #000 !important;
    background-color: #E4F3FA !important;
    opacity: 1 !important;
    transition: 100ms all linear !important;
}
.segment-button{
	color: #000 !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #E4F3FA !important;
    font-size: 1.3rem !important;
    line-height: 40px !important;
    text-transform: inherit !important;
    white-space: normal !important;
}
.segment-button div{
	line-height: 1em;
  	padding: 5px 0;
  	display: inline-block;
 }
.segment-button {
	height: 40px !important;
}
.item-block:first-child {
	border-top: 0.55px solid #c8c7cc !important
}

/* 
* ******************************************  Iconos
*/
.icon-btn-big {
	width: 85%;
	font-size: 5em;
	margin: 0 auto;
	position: relative;
	color: $secundario;
}
.icon-btn-big.small{
	width: auto;
	font-size: 1.5em;
	vertical-align: top;
}
.icon-btn-big:after {
	position: absolute;
	top: 26%;
	left: 42%;
	color: $verde;
	font-size: 0.37em;
}
.icon-btn-big.small:after {
	left: 35%;
}
ion-icon.icon-btn-big.icon-calificar.icon.icon-ios.ion-ios-radio-button-on::after{
	left: 38%;
}
ion-icon.icon-btn-big.small.icon-calificar.icon.icon-ios.ion-ios-radio-button-on::after {
	left: 28%;
	color: $amarillo !important;
}
.btn-big.verde .icon-btn-big:after {
	color: $verde;
}
.btn-big.amarillo .icon-btn-big:after {
	color: $amarillo;
}
.icon-novedades:after{
	content: "+";
}
.icon-calificar:after, .icon-calificar-evento:after {
	content: "✓";
}
ion-icon.icon-btn-big.icon-calificar-evento.icon.icon-ios.ion-ios-radio-button-on::after{
	left: 38% !important;
}
.btn-big.evaluado:after{
	content: "✓";
	position: absolute;
	top: 0;
	right:-0.6em;
	width: 1.5em;
	height: 1.5em;
	background: $verde;
	color: white;
	line-height: 1.5em;
	font-size: 1.5em;
	@include border-radius(50%);
}
.btn-big.verde.evaluado:after{
	background: $verde;
}
.btn-big.amarillo.evaluado:after{
	background: $amarillo;
}


/* 
* ******************************************  Iconos
*/
.content textarea{
	width: 100%;
	height: 160px;
}

/* 
* ******************************************  Barra de descarga (Login)
*/
.overlay{
	display: none;
	position: fixed;
	overflow-y: scroll; 
	top: 0;
	left: 0;
	width: 100%;
	height: 91%;
	z-index: 10;
	background: rgba(0, 0, 0, 0.4);
}
.text-overlay{
	color: white;
	font-family: 'Brandon Bold' !important;
}
@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}
@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}
progress {
	text-align: left !important;
}
progress[value] {
  -webkit-appearance: none;
   appearance: none;
  width: 250px;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #00AD7C);
    border-radius: 10px;  
    background-size: 35px 20px, 100% 100%, 100% 100%;
    -webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite;
}



/* 
* ******************************************  Responsive
*/
@media screen and(min-width: 500px) {
	.container-1{
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
	.fondo-2 {
		height: 98.5%;
	}
	select{
		background-position:
		    calc(101% - 19px) calc(1em + 2px),
		    calc(101% - 15px) calc(1em + 2px),
		    100% 0;
	}
	select:focus{
		background-position:
		    calc(101% - 15px) 1em,
		    calc(101% - 19px) 1em,
		    100% 0;
	}
	header .row-top{
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
	.tab-button-text {
		font-size: 14px !important;
	}
}
	