page-exhibicion-formulas {
	.imagen{
		text-align: center;
	}
	ion-thumbnail img{
		width: 100% !important;
		max-width: 350px !important;
		height: auto !important;
		margin: 0 auto !important;
	}
}
