<ion-header>
	<ion-navbar>
		<ion-title>
			<ion-icon class="icon-btn-big small icon-calificar" ios="ios-radio-button-on" md="ios-radio-button-on">
			</ion-icon> Califica este punto
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<nav class="sub-nav">
		<table class="sub-menu">
			<tr>
				<td class="col-4 center" valign="middle">{{punto.nombre}}</td>
				<td class="col-4 center" valign="middle">{{punto.canal}}</td>
				<td class="col-4 center" valign="middle">{{punto.tipo}}</td>
			</tr>
		</table>
	</nav>

	<div class="content padding">
		<div class="container-1">
			<h3 class="center">1. Categoría fórmulas infantiles</h3>
			<p  class="center textline">Completa planometría, agotados y precio para poder continuar.</p>
			<div class="container-1">
				<div>
					<ion-segment [(ngModel)]="sub_tabs">
						<ion-segment-button value="Imagen">
							<div>Guía de lineales</div>
						</ion-segment-button>
						<ion-segment-button value="Planometría">
							<div>Planometría</div>
						</ion-segment-button>
						<ion-segment-button value="Agotados">
							<div>Agotados</div>
						</ion-segment-button>
						<ion-segment-button value="Precio">
							<div>Precio</div>
						</ion-segment-button>
					</ion-segment>
				</div>
				<div [ngSwitch]="sub_tabs">
					<ion-list *ngSwitchCase="'Imagen'">
						<ion-item>
							<ion-thumbnail item-left>
								<p class="center">Así debe lucir la exhibición <br>**Imágen de referencia**</p>
								<div class="imagen">
									<img [src]="getImagen(punto.foto, 'exhibicion')"
										onerror="this.src='assets/sin-foto.jpg'" alt="Imágen no disponible">
								</div>
							</ion-thumbnail>
						</ion-item>
					</ion-list>
					<ion-list *ngSwitchCase="'Planometría'">
						<ion-item>
							<ion-thumbnail item-left><br>
								<div class="pregunta textline" [innerHTML]="preguntas.uno"></div>
								<div class="si-no">
									<br>
									<ion-row radio-group name="uno" [(ngModel)]="uno" [disabled]="mostrarExhibicion">
										<ion-col>
											<ion-item>
												<ion-label>Si</ion-label>
												<ion-radio class="checkbox" color="secondary" value="1"></ion-radio>
											</ion-item>
										</ion-col>
										<ion-col>
											<ion-item>
												<ion-label>No</ion-label>
												<ion-radio class="checkbox" color="secondary" value="0"></ion-radio>
											</ion-item><hr>
										</ion-col>
									</ion-row>
								</div>
								<br>
								<div class="pregunta textline"  [innerHTML]="preguntas.dos"></div>
								<div class="si-no">
									<br>
									<ion-row radio-group name="dos" [(ngModel)]="dos" [disabled]="mostrarExhibicion">
										<ion-col>
											<ion-item>
												<ion-label>Si</ion-label>
												<ion-radio class="checkbox" color="secondary" value="1"></ion-radio>
											</ion-item>
										</ion-col>
										<ion-col>
											<ion-item>
												<ion-label>No</ion-label>
												<ion-radio class="checkbox" color="secondary" value="0"></ion-radio>
											</ion-item>
										</ion-col>
									</ion-row>
								</div>
							</ion-thumbnail>
						</ion-item>
					</ion-list>
					<ion-list *ngSwitchCase="'Agotados'">
						<ion-item>
							<ion-thumbnail item-left>
								<p class="center">Productos con muy pocas o ninguna existencia:</p>
								<div class="box-productos">
									<div class="producto" *ngFor="let producto of productos_agotados; let i = index;">
										<div [ngClass]="{'infaltable': producto.infaltable, 'imagen': true }">
											<img [src]="getImagen(producto.foto)" alt=""
												onerror="this.src='assets/sin-foto.jpg'">
										</div>
										<p class="nombre">{{producto.nombre}}</p>
										<div class="texto" *ngIf="mostrarAgotados == 0">
											<label>Sin Existencias &nbsp;</label>
											<input type="checkbox" (change)="toggleAgotado(i, producto.id_p)"
												name="productoAgotado{{producto.id_p}}" value="1"
												[checked]="toggleCheckedAgotado(i)" />
										</div>
										<div class="texto" *ngIf="mostrarAgotados == 1">
											<p class="center">Sin Existencias</p>
										</div>
									</div> <!-- end producto -->
									<div class="texto" *ngIf="sinAgotados == 1">
										<br>
										<p class="center">Sin Existencias</p>
									</div>
								</div> <!-- end box-productos -->
							</ion-thumbnail>
						</ion-item>
					</ion-list>
					<ion-list *ngSwitchCase="'Precio'">
						<ion-item>
							<ion-thumbnail item-left>
								<div class="box-productos">
									<div class="producto" *ngFor="let producto of productos_precio; let i = index;">
										<div class="imagen">
											<img onerror="this.src='assets/sin-foto.jpg'"
												[src]="getImagen(producto.foto)" alt="">
										</div>
										<p class="nombre">{{producto.nombre}}</p>
										<div class="texto" *ngIf="mostrarPrecios == 0">
											<!-- <div class="precio">Rango de precio: De ${{producto.precio_min}} a ${{producto.precio_max}}</div>
										<div class="fuera-rango">
											<label for="{{i}}">Fuera de rango: </label>
											<input type="checkbox" id="{{i}}" (click)="mostrarInput(i, producto)">
										</div>
										'hidden': input[i]-->
											<input type="number"
												[ngClass]="{'hidden': false, 'btn': true, 'btn-precio': true}"
												placeholder="Precio real" [(ngModel)]="producto.precio_new">
										</div>
										<div class="texto borde" *ngIf="mostrarPrecios == 1">
											<p class="center">Precio real: ${{producto.precio_new}}</p>
										</div>
									</div> <!-- end producto -->
									<div class="texto" *ngIf="sinPrecio == 1">
										<p class="center">Sin Existencias</p>
									</div>
								</div> <!-- end box-productos -->

								<br><br>
								<div class="center" *ngIf="mostrarExhibicion == 0">
									<button type="submit" class="btn btn-rounded btn-azul"
										(click)="continuar()">{{btn_guardar}}</button>
								</div>
							</ion-thumbnail>
						</ion-item>
					</ion-list>
				</div>
			</div>

			<div class="center mostrarInfo" *ngIf="mostrarExhibicion == 1">
				<button type="submit" class="btn btn-rounded btn-azul"
					(click)="continuar('mostrar')">{{btn_continuar}}</button>
			</div>
		</div>
	</div>
</ion-content>