<ion-header>
	<ion-navbar>
		<ion-title><ion-icon class="icon-btn-big small icon-novedades" ios="ios-text-outline" md="ios-text-outline"></ion-icon>  Novedades</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="fondo-2">
		<nav class="sub-nav">
			<table class="sub-menu">
				<tr>
					<td class="col-4 center" valign="middle">{{novedad.nombre}}</td>
					<td class="col-4 center" valign="middle">{{novedad.canal}}</td>
					<td class="col-4 center" valign="middle">{{novedad.tipo}}</td>
				</tr>
			</table>
		</nav>
		<div class="content padding center">
			<div class="container-1">
				<img *ngIf="chosenPicture" class="imagen-tomada" [src]="chosenPicture" alt="Imágen no disponible"/>
				<button class="btn btn-rounded btn-azul" (click)="subirFoto()"><ion-icon ios="ios-camera-outline" md="ios-camera-outline"></ion-icon>  Subir foto <br>del punto de venta</button>
				<textarea placeholder="Haz tu comentario del punto de venta"  [(ngModel)]="novedad.comentario" required></textarea>
				<button class="btn btn-rounded btn-azul" (click)="guardar()">{{btn_guardar}}</button>
			</div>
		</div>
	</div>
</ion-content>