<ion-header>
	<ion-navbar>
		<ion-title><ion-icon class="icon-btn-big small icon-calificar" ios="ios-radio-button-on" md="ios-radio-button-on"></ion-icon>  Califica este punto</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<nav class="sub-nav">
		<table class="sub-menu">
			<tr>
				<td class="col-4 center" valign="middle">{{punto.nombre}}</td>
				<td class="col-4 center" valign="middle">{{punto.canal}}</td>
				<td class="col-4 center" valign="middle">{{punto.tipo}}</td>
			</tr>
		</table>
	</nav>

	<div class="content padding">
		<div class="container-1">
			<h3 class="center">FOTO Y COMENTARIO</h3>
			<p class="center">Para acciones de mejora</p>
			<br>
			<div class="center" *ngIf="mostrarExhibicion == 0">
				<img *ngIf="chosenPicture" id="mostrarFoto"  class="imagen-tomada" [src]="chosenPicture" alt="Imágen"/>
				<button class="btn btn-rounded btn-azul" (click)="tomarFoto()">
					<ion-icon ios="ios-camera-outline" md="ios-camera-outline"></ion-icon>  
					Subir foto <br>del punto de venta
				</button>
				<textarea placeholder="Haz tu comentario de la exhibición"  [(ngModel)]="comentario"></textarea>
				<button type="submit" id="guardar" class="btn btn-rounded btn-azul" (click)="continuar()">{{btn_guardar}}</button>
			</div>

			<div class="center mostrarInfo" *ngIf="mostrarExhibicion == 1">
				<img class="imagen-subida" onerror="this.src='assets/sin-foto.jpg'" [src]="getImagen(foto_exhibicion, 'publicacion')" alt="Imágen no disponible"/>
				<p>{{comentario}}</p>
				<button type="submit" class="btn btn-rounded btn-azul" (click)="continuar('mostrar')">{{btn_continuar}}</button>
			</div>
		</div>
	</div>
</ion-content>