<ion-header>
	<ion-navbar>
		<ion-title><ion-icon ios="ios-clipboard-outline" md="ios-clipboard-outline"></ion-icon>  Acompañaniento</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="content padding fondo-2">
		<p class="center azul">¿Qué quieres evaluar?</p>

		<button class="btn btn-big amarillo" (tap)="irA('v')">
			<ion-icon class="icon-btn-big" ios="ios-briefcase-outline" md="ios-briefcase-outline"></ion-icon>
			VISITA MÉDICA
		</button>
		<button class="btn btn-big amarillo" (tap)="irA('c')">
			<ion-icon class="icon-btn-big icon-calificar-evento" ios="ios-radio-button-on" md="ios-radio-button-on"></ion-icon>
			CALIFICAR EVENTO
		</button>
	</div>
</ion-content>