<ion-header>
	<ion-navbar>
		<ion-title><ion-icon ios="ios-ribbon-outline" md="ios-ribbon-outline"></ion-icon>  Ranking</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="content padding fondo-2">
		<div class="container-1">
			<div padding>
				<ion-segment [(ngModel)]="ranking">
					<ion-segment-button value="Trade">
						Trade
					</ion-segment-button>
					<ion-segment-button value="Acompañamiento">
						Acompañamiento
					</ion-segment-button>
				</ion-segment>
			</div>
			<div [ngSwitch]="ranking">
				<ion-list *ngSwitchCase="'Trade'">
					<ion-item>
						<ion-thumbnail item-left>
							<table class="ranking center">
								<tr *ngFor="let persona of ranking_trade; let i = index">
									<td><div *ngIf="persona.id_u == usuario.id_u" class="numeracion yo">{{i+1}}</div></td>
									<td><div *ngIf="persona.id_u != usuario.id_u" class="numeracion">{{i+1}}</div></td>
									<td>
										<div class="imagen">
											<img onerror="this.src='assets/sin-foto.jpg'" [src]="getImagen(persona.foto)" alt="Imágen disponible">
										</div>
									</td>
									<td class="nombre left">
										<div>{{persona.nombre}}</div>
										<span class="puntos">{{persona.puntos}} Puntos visitados</span>
									</td>
								</tr>
							</table>
						</ion-thumbnail>
					</ion-item>
				</ion-list>

				<ion-list *ngSwitchCase="'Acompañamiento'">
					<ion-item>
						<ion-thumbnail item-left>
							<table class="ranking center">
								<tr *ngFor="let persona of ranking_acompanamiento; let i = index">
									<td><div *ngIf="persona.id_u == usuario.id_u" class="numeracion yo">{{i+1}}</div></td>
									<td><div *ngIf="persona.id_u != usuario.id_u" class="numeracion">{{i+1}}</div></td>
									<td>
										<div class="imagen">
											<img onerror="this.src='assets/sin-foto.jpg'" [src]="getImagen(persona.foto)" alt="Imágen disponible">
										</div>
									</td>
									<td class="nombre left">
										<div>{{persona.nombre}}</div>
										<span class="puntos">{{persona.puntos}} Puntos visitados</span>
									</td>
								</tr>
							</table>
						</ion-thumbnail>
					</ion-item>
				</ion-list>
			</div>
			<div padding *ngIf="internet === false">
				<p class="center">No tienes conexión a internet, por lo que no se mostrará información.</p>
			</div>
		</div>						
	</div>
</ion-content>