page-ranking {
	.ranking{
		margin: 0 auto;
		width: auto !important;
	}
	.ranking tr{
		display: block;
		padding-bottom: 0.5em;
	}
	.ranking .numeracion{
		width: 1.6em;
		height: 1.6em;
		line-height: 1.6em;
		border-radius: 50%;
		background: #19AE48;
		color: white;
		margin-right: 0.5em;
		text-align: center;
	}
	.ranking .numeracion.yo{
		background: $secundario;
	}
	.ranking .imagen img{
		width: 60px;
		height: 60px;
		background: #999999;
		border-radius: 50%;
		margin-right: 0.5em;
		border: 2px solid $secundario;
	}
	.ranking .nombre{
		padding-left: 5px;
		font-family: 'BrandonGrotes-Medium';
	}
	.ranking .nombre div{
		margin-bottom: -3px;
	}
	.ranking .nombre .puntos{
		font-family: 'BrandonGrotes-Light';
		font-size: 0.8em;
		color: #666;
		margin-top: -5px;
	}
}
