<ion-header>
	<ion-navbar>
		<ion-title><ion-icon ios="ios-clipboard-outline" md="ios-clipboard-outline"></ion-icon>  Evaluar Punto</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="fondo-2">
		<nav class="sub-nav">
			<table class="sub-menu">
				<tr>
					<td class="col-4 center" valign="middle">{{punto.nombre}}</td>
					<td class="col-4 center" valign="middle">{{punto.canal}}</td>
					<td class="col-4 center" valign="middle">{{punto.tipo}}</td>
				</tr>
			</table>
		</nav>
		<div class="content padding">
			<p class="center azul">¿Qué quieres evaluar de este punto?</p>
			<button [ngClass]="{'evaluado': novedad_evaluado, 'btn': true, 'btn-big': true, 'verde': true}" (tap)="irA('n')">
				<ion-icon class="icon-btn-big icon-novedades" ios="ios-text-outline" md="ios-text-outline"></ion-icon>
				NOVEDADES
			</button>
			<button [ngClass]="{'evaluado': punto_evaluado, 'btn': true, 'btn-big': true, 'verde': true}" (tap)="irA('c')">
				<ion-icon class="icon-btn-big icon-calificar" ios="ios-radio-button-on" md="ios-radio-button-on"></ion-icon>
				CALIFICA ESTE PUNTO
			</button>
		</div>
	</div>
</ion-content>